/************ CALCULATOR *************/

#calculator {
	
	box-sizing: border-box;
	width: 260px;
	/*height: auto;*/
	
	/*margin: 100px auto;*/
	padding: 20px;

	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
	/* Using box shadows to create 3D effects */
	box-shadow: 0px 4px #009de4;

	font: bold 14px Arial, sans-serif !important;
}

/* Top portion */

.top .screen {
	height: 40px;
	width: 212px;
	
	float: left;

	margin: 0 7px 11px 0;
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	/* Inset shadow on the screen to create indent */
	box-shadow: inset 0px 4px rgb(0, 0, 0, 0.2);

	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */ 
.keys, .top {
	overflow: hidden;
}

.keys span {
	float: left;
	position: relative;
	top: 0px;

	cursor: pointer;

	width: 66px;
	height: 36px;

	background: white;
	border-radius: 3px;
	/* Using box shadows to create 3D effects */
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	margin: 0 7px 11px 0;

	color: #888;
	line-height: 40px;
	text-align: center;

	/* prevent selection of text inside keys */
	user-select: none;

	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Style different type of keys */
span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

span.clear:active {
	box-shadow: 0px 0px #d3545d;
	top: 4px;
}

.calculator_number:hover 
{ 
	background-color: #380606; 
}